/mn/alnathfs/d1 @astro-hosts(rw,sync,insecure) @astro-pc-clients(rw,sync) @uio-felles(rw,sync) 129.240.45.149(rw,sync,insecure) 129.240.45.59(rw,sync,insecure) 
/mn/alnathfs/d2 @astro-hosts(rw,sync,insecure) @astro-pc-clients(rw,sync) @uio-felles(rw,sync) 129.240.45.149(rw,sync,insecure) 129.240.45.59(rw,sync,insecure)
/mn/alnathfs/d3 @astro-hosts(rw,sync,insecure) @astro-pc-clients(rw,sync) @uio-felles(rw,sync) 129.240.45.149(rw,sync,insecure) 129.240.45.59(rw,sync,insecure) 129.240.190.154(rw,sync,insecure)
