<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>lanclient</short>
  <description>StorNext Lanclient</description>
  <port protocol="tcp" port="52000-62000" />
  <port protocol="udp" port="52000-62000" />
  <port protocol="tcp" port="5164" />


</service>
