<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>ganglia</short>
  <description>Ganglia</description>
  <port protocol="tcp" port="8651"/>
  <port protocol="tcp" port="8652"/>
  <port protocol="tcp" port="8649"/>
  <port protocol="udp" port="8649"/>
</service>
